<section class="feature-blocks">
    <h3>Heading of Feature Block with Quote</h3>
    <ul class="list-unstyled row">
        <li class="col-3">
            <h4>Research &amp; Sourcing</h4>
            <p>We design business models and hire the right people for our ventures and we need to add more description and content to these.</p>
        </li>

        <li class="col-3">
            <h4>Capital</h4>
            <p>We design business models and hire the right people for our ventures and we need to add more description and content to these.</p>

        </li>

        <li class="col-3">
            <h4>Lean Startup</h4>
            <p>We design business models and hire the right people for our ventures and we need to add more description and content to these.</p>
        </li>

        <li class="col-6">
            <blockquote>
                "This is a really smart quote from one of our managing partners."
                <cite>Diederik Ingen Housz, CFO, VentureBuilders</cite>
            </blockquote>
        </li>

        <li class="col-3">
            <h4>Growth</h4>
            <p>We design business models and hire the right people for our ventures and we need to add more description and content to these.</p>
        </li>

    </ul>
</section>
