<header class="container-fluid site-header sticky-top mb-2 mb-lg-0" id="site-header" role="banner">
    <div class="container">
        <div class="row flex-wrap">

            <a class="col-9 col-sm-6 col-md-3 col-xl-2 mb-xs-2 mb-sm-1 mb-md-0 site-title" title="{{ site.title }}" href="{{ "/" | relative_url }}"><img src="{{ 'assets/img/logo-color.svg' | relative_url }}" alt="{{ site.title }}"></a>

            <nav class="col-9 col-md-5 site-nav">
                {% for nav in site.data.nav %}
                    <a class="site-nav-link link-item {% if page.url contains nav.path %}active{% endif %}" title="{{ nav.title }}" href="{{ nav.path }}">{{ nav.title }}</a>
                {% endfor %}
            </nav>

        </div>
    </div>

</header>
