{% comment %}
include: member

member_social[0] - linkedin
member_social[1] - twitter

{% endcomment %}

{% assign name = include.member.title %}
{% assign photo = include.member.Photo %}
{% assign photo2x = include.member.Photo2x %}
{% assign position = include.member.Position %}
{% assign company = include.member.Venture %}
{% assign linkedin = include.member.linkedin %}
{% assign twitter = include.member.twitter %}

<figure class="member-profile">
    <div class="member-photo">
        <picture>
             <source srcset='{{ photo2x }}' media="(min-width: 900px)">
             <img src='{{ photo }}' alt="{{ name }}">
        </picture>
    </div>
    <figcaption class="pt-1 member-meta">
        <h6 class="headline-variant">{{ name }}</h6>
        <p class="mb-0">{{ position }}</p>

        {% if include.show_venture %}
            {% assign compFirst = company | first %}
            {% if compFirst %}
            <p class="headline-variant small">{{ company | first }}</p>
            {% else %}
            <p class="headline-variant small">{{ company }}</p>
            {% endif %}

        {% endif %}

        {% if include.show_social %}

            {% if linkedin != null %}
            <p class="team-member-social">
                <a href="http://www.linkedin.com/in/{{ linkedin }}">LinkedIn</a>
            </p>
            {% endif %}

            {% if twitter != null %}
            <p class="team-member-social">
                <a href="http://www.twitter.com/{{ twitter }}">Twitter</a>
            </p>
            {% endif %}

        {% endif %}

    </figcaption>
</figure>
