.venture-stats {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    border-top: 1px solid $gray-mid;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
}

.venture-stat-item {
    margin-bottom: $spacer * 2;
    text-align: center;
}

.venture-number {
    color: $green-dark;
}

.venture-nav-link {
    display: block;
}

.venture-links {
    margin-left: 0;
}
