$grid-item-height: 280px;

$ventures:
bedden,
applyr,
case24,
contexta,
hellospecial,
homedeco,
taxi2airport,
traveldeal,
euroknaller,
offerte,
sleepdeal;

// @each $brand in $ventures {
//     .#{$brand} {
//         // background: url('img/venture-small/#{$brand}.png') center top no-repeat;
//         // background-size: 100% auto;
//
//         @include media-breakpoint-up(lg) {
//             // background-image: url('img/venture-small/#{$brand}@2x.png');
//         }
//     }
// }

.venture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -$spacer;
    margin-left: -$spacer;
}

.venture-grid-item {
    width: 100%;
    padding: $spacer;
    position: relative;

    @include media-breakpoint-up(sm) {
        width: 50%;
    };

    @include media-breakpoint-up(md) {
        width: 33.333%;
        // padding: 0;
    };

    @include media-breakpoint-up(lg) {
        width: 25%;
    };
}

.venture-grid-link {
    display: block;
    overflow: hidden;

    img {
        @include media-breakpoint-up(lg) {
            transform: scale(1.05);
            transition: transform 0.2s ease-out;

            &:hover {
                transform: scale(1);
            }
        }
    }
}
