---
layout: page
---

<div class="container">

    <div class="row justify-content-between py-2 mb-5">

        <div class="col-12 col-lg-5">
            <form action="https://formspree.io/{{ page.email_address }}" method="post" autocomplete="on">
                <div class="row">
                    <div class="col form-group">
                        <label for="contactName">Name</label>
                        <input type="text" class="form-control form-control-lg" name="Name" id="contactName" aria-describedby="emailHelp" placeholder="Enter name" required>
                    </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                      <label for="contactEmail">Email address</label>
                      <input type="email" class="form-control form-control-lg" name="Email" id="contactEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                  </div>

                  <div class="col form-group">
                      <label for="contactLinkedIn">LinkedIn (optional)</label>
                      <input type="text" class="form-control form-control-lg" name="LinkedIn" id="contactLinkedIn" aria-describedby="linkedinHelp" placeholder="linkedin.com/in/yourprofile">
                  </div>
                </div>
                <div class="row py-2">
                    <div class="col-8">


                        <div class="form-check form-check-inline mr-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="Request" id="req1" value="GenInquiry" checked required>&nbsp; General Inquiry
                            </label>
                        </div>
                        <div class="form-check form-check-inline mr-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="Request" id="req2" value="PressMedia" required>&nbsp; Press & Media
                            </label>
                        </div>
                        <div class="form-check form-check-inline mr-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="Request" id="req3" value="Investment" required>&nbsp; Investment Inquiry
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row pb-1">
                    <div class="col-9 form-group">
                        <p class="">For career opportunities, please visit our <a href="/careers">Careers page.</a></p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-9 form-group">
                        <label for="contactMessage">Enter a message:</label>
                        <textarea rows="4" class="form-control form-control-lg" name="Message" id="contactMessage" aria-describedby="message" placeholder="How can we help you?" required></textarea>

                    </div>
                    <input type="hidden" name="_next" value="/thank-you.html" />
                    <input type="hidden" name="_subject" value="New request from VentureBuilders.nl" />

                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                    </div>


                </div>


            </form>
        </div>

        <div class="col-12 col-lg-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.738477227126!2d4.8438989158027566!3d52.39329107979039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e28b31d2cdd5%3A0xe4bbbec4786f3d8a!2sKabelweg+43%2C+1014+BA+Amsterdam!5e0!3m2!1sen!2snl!4v1500988005307" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <address class="">
                Kabelweg 43, 1014 BA
                Amsterdam
            </address>
        </div>

    </div>
</div>
