---
layout: global
---

<div class="home">

    {% include hero.html headline=page.headline subhead=page.subhead %}

    <section class="container py-3 py-lg-6">
        <h3 class="heading-medium text-center my-3">Some of our clients</h3>
        <ul class="list-unstyled d-flex flex-wrap align-items-center flex-lg-row justify-content-center">
            {% for client in page.Client_Logos %}
                <li class="py-1 px-1"><img src="{{ client.client_img }}" alt="{{ client.client_name }}"></li>
            {% endfor %}
        </ul>
    </section>

    <section class="container py-3 py-lg-6">
        <div class="row justify-content-center">
            <h2 class="col-md-10 heading-large text-center my-2">{{ page.Service_Heading }}</h2>
            <p class="col-md-10 body-medium text-center">{{ page.Service_Subhead }}</p>
        </div>
        <div class="services">
            {% for serv in page.Services %}
            <div class="py-3 py-md-6 row justify-content-between side-by-side border-b-mid {% cycle 'flex-md-row-reverse', ''%}">
                    <div class="blockImg col-12 col-md-6">
                        <img src="{{ serv.image }}" alt="">
                    </div>
                    <div class="blockText pt-2 col-10 col-md-6 col-xl-5">
                        <h3 class="heading-medium mb-2">{{ serv.heading }}</h3>
                        <p class="text-medium mb-3">{{ serv.description }}</p>
                        <p class="heading-tiny mb-1">Capabilities:</p>
                        <ul class="mb-2 ml-3">
                            {% for item in serv.capabilities %}
                                <li class="text-small py-0">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>


            </div>
            {% endfor %}
        </div>
    </section>

  {{ content }}

</div>
