---
layout: global
---

<div class="home">

    {% include hero.html headline=page.headline subhead=page.subhead %}

    <section class="container py-3 py-lg-5">
        <div class="d-flex flex-row justify-content-center align-items-center vb-logo pt-1 pb-3 pb-lg-6">
            <h6 class="heading-tiny text-muted text-center">part of </h6>
            <img class="max-50 ml-1" src='assets/img/venturebuilders-logo.svg' alt="VentureBuilders">
        </div>
        <h3 class="heading-medium text-center my-3">Some of our clients</h3>
        <ul class="list-unstyled d-flex flex-wrap align-items-center flex-lg-row justify-content-around">
            {% assign client_logos = site.static_files | where: "image", true %}
            {% for logo in client_logos %}
                {% if logo.basename contains 'client-logo' %}
                    <li class="py-1 px-1"><img src="{{ logo.path }}" alt="{{ logo.basename }}"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

    <section class="container py-3 py-lg-6">
        <div class="row justify-content-center">
            <h2 class="col-md-10 heading-large text-center my-2">{{ page.Service_Heading }}</h2>
            <p class="col-md-10 body-medium text-center">{{ page.Service_Subhead }}</p>
        </div>
        <div class="services">
            {% for serv in page.Services %}
            <div class="py-3 py-md-6 row justify-content-between side-by-side border-b-mid {% cycle 'flex-md-row-reverse', ''%}">
                    <div class="blockImg col-12 col-md-6 text-center">
                        <img class="w-50" src="assets/img/{{ serv.image }}" alt="{{ serv.image }}">
                    </div>
                    <div class="blockText pt-2 col-10 col-md-6 col-xl-5">
                        <h3 class="heading-medium mb-2">{{ serv.heading }}</h3>
                        <p class="text-medium mb-3">{{ serv.description }}</p>
                        <p class="heading-tiny mb-1">Capabilities:</p>
                        <ul class="mb-2 ml-3">
                            {% for item in serv.capabilities %}
                                <li class="text-small py-0">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>


            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-fluid py-3 py-lg-6 green-bg case-study">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-7 list-unstyled d-flex flex-wrap flex-row py-3 py-lg-5">
                    <blockquote class="quote-small col-12 mb-3 mb-lg-5">{{ page.Case_Study_Heading }}</blockquote>
                    {% for stat in page.Case_Study_Stats %}
                        <div class="col-4 col-lg-5">
                            <h2 class="heading-super">{{ stat.number }}</h2>
                            <h6 class="heading-small">{{ stat.label }}</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

  {% include contact-block.html %}

</div>
