/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  // background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
    font-size: 14px;
    @include media-breakpoint-up(md) { font-size: 16px; };
    @include media-breakpoint-up(xl) { font-size: 18px; };
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
}

.max-50 {
    width: 50%;
    @include media-breakpoint-up(md) { width: 25%; };
}

.client-logo {
    max-width: 150px;
    @include media-breakpoint-up(md) { max-width: 180px; };
}

.green-bg {
    background-color: $green-dark;
    color: $white;
}

.dark-bg {
    background-color: $charcoal;
    color: $white;
}

.border-b-dark { border-bottom: solid 1px $gray-dark; }
.border-b-mid { border-bottom: solid 1px $gray-mid; }
.border-b-light { border-bottom: solid 1px $gray-light; }
